
     
    <main >
      
      <div class="container">
  
        
        <section class="text-center mb-4">
  
          
          <div class="row wow fadeIn" style="margin-top: 50px;">

           <!-- <button (click)="arr()">sdffvfdvfgg</button> -->
              
            <div class="col-lg-3 col-md-6 mb-4" *ngFor="let i of arr()  " >
              
              <div class="card" >
                <div class="view overlay">
                  <img src={{i.url}} class="card-img-top">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
  
                <div  class="card-body text-center">
                  <a   >
                    <h5 style="color: rgb(0, 128, 255);">{{i.name}}</h5>
                  </a>
                  <h5>
                    <strong>
                      <a type="button" class="dark-grey-text" (click)="next(i.id)">{{i.more}}
                                                
                      </a>
                    </strong>
                  </h5>
  
                  <h4 class="font-weight-bold blue-text">
                    <strong>{{i.price | currency:"₪"}}</strong>
                  </h4>
                </div>
                </div>
              </div>
              </div>
            
         
           
    

<router-outlet></router-outlet>


            <!-- 
    <div *ngFor="let i of products">
        <mat-card class="example-card">
   
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    
    <img mat-card-image style="max-height:100px; max-width: 80px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
       kgfdggmgkekff
       sefhjfj
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  
  </mat-card><br>
</div>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div> -->
 <!-- </div> -->
 

<!-- <div>

  <div class="row row-cols-1 row-cols-md-3" style="padding: 250px;padding-left: 25px; padding-top: 50px; " >
   
    <div *ngFor="let i of datarr" >
    <div class="col mb-4" >  
       
      <div class="card h-100" style="max-width: 300px; padding: 10px;border-color: white;">
       
        <img src={{i.src}} class="card-img-top" style="max-width: 250px; max-height: 300px; margin: auto;">
      
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">{{i.name}}</h5>
         
            <a  mat-button color="accent" (click)="next(i.id)" style="color: black; text-align: center;">
          <p class="card-text"  style="text-align: center;">{{i.type}}</p>
        </a>
          <p class="card-text"  style="text-align: center;">{{i.price | currency:"₪"}}</p>
        </div>
      </div>
    </div>
    
</div>
</div> -->
